<h1>JS Racergit </h1>
<%= @error if @error %>
<form action = '/' method = "POST">
<label for="p1_init">Player 1 Initials:
<input type = "text" name = "p1_init"></label> 
<label for="p2_init">Player 2 Initials:
<input type = "text" name = "p2_init"></label>
<input type = "submit" name = "submit">
</form>
