<h1>JavaScript Racer</h1>

<table class="racer_table">
  <tr id="player1_strip">
    <td id="players">Player <%=@player1.initials%></td>
    <td class="active"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr id="player2_strip">
     <td id="players">Player <%=@player2.initials%></td>
    <td class="active"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>
<br>
<div id="timer"></div>
